    # requirements.txt - Dependencias de la API Flask
    # Este archivo lista todas las librerías de Python necesarias para ejecutar la API.

    Flask==2.3.2
    oracledb # ¡CAMBIO CLAVE: quitamos la versión y el prefijo 'python-'!
    python-dotenv==1.0.0
    gunicorn
    
